[submodule "libraries/lithium"]
	path = libraries/lithium
	url = https://github.com/UnionOfRAD/lithium.git
[submodule "app/scripts/dxcc"]
	path = app/scripts/dxcc
	url = https://github.com/KB1RMA/dxcc.git
[submodule "app/libraries/li3_geo"]
	path = app/libraries/li3_geo
	url = https://github.com/KB1RMA/li3_geo.git
